body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.start-date {
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 500px;
} 
.end-date {
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 940px;
} 

.stock-ticker{
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 60px;
} 

.button{

  margin: 10px;
  position: absolute;
  top: 5px;
  left: 1200px;}

.Charts{
    position: relative;
    align-content: center;
    top: 100px;
  }